.room-panel{
    text-decoration: none;
    color: white;
}


.room-panel-view{
    margin-top: 12%;
    width: auto;
    margin-left: 4%;
}

.header{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2f2f;
    border-radius: 15px;
    color: white;
}

.header h1{
    padding: 5%;
    font-size: 50px;
    text-transform: uppercase;
    text-indent: -20%;
}

.arrow{
    width: 20%;
    margin-left: 5%;
}

.panel{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 25px;
    padding-bottom: 8%;
    margin-top: 2%;
}

.room-information{
    width: 87%;
    padding: 4%;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
}

.information-text{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 120%;
}

.photo-panel{
    border-radius: 20px;
    margin-top: 5%;
    border: #1f1f1f;
    width: 135%;
    display: flex;
}

.details{
    display: flex;
    text-transform: none;
    font-weight: 400;
}


.hints{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -2%;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 4%;
}

.hints-inactive{
    display: none;
}

.hints h1{
    background-color: #2f2f2f;
    color: white;
    border-radius: 8px;
    text-indent: 1%;
}

.hints p{
    margin-top: -1%;
    font-size: 115%;
    margin-left: 1%;
    margin-right: 1%;
}

.hints-layout{
    margin-top: -1%;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
}

.panel input, textarea{
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 1%;
    width: auto;
    resize: none;
    border-radius: 15px;
    border: none;
    font-size: 120%;
    font-family: 'Anek Latin', sans-serif;
    margin-bottom: 3%;
}


.add-hint-button{
    background-color: #1B4F3F;
    padding: 1%;
    width: 20%;
    justify-self: right;
}

.game-control{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 4%;
    text-transform: uppercase;
}

.game-control h1{
    background-color: #2f2f2f;
    color: white;
    border-radius: 8px;
    text-indent: 1%;
    margin-bottom: 0;
}

.game-control-manual{
    font-size: 120%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: left;
    margin-top: 0;
    text-transform: none;
}

.buttons{
    margin-bottom: 5%;
    padding-bottom: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    justify-content: center;
}

.buttons p{
    font-size: 130%;
    text-transform: none;
}

button{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    background-color: #1B4F3F;
    color: white;
    font-family: 'Anel Latin', sans-serif;
    font-weight: 600;
    font-size: 120%;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 70%;
    height: 140%;
}

button:hover{
    background-color: white;
    color: #2f2f2f;
}

button:active{
    background-color: #1f1f1f;
    color: white;
}

.end-game-button-inactive{
    display: none;
}

.add-game-form {
    margin-left: 3%;
    margin-top: -3%;
}

.add-game-form input {
    display: block;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-game-button {
    justify-self: right;
    width: 20%;
    height: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.games-list {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.games-list-header{
    background-color: #2f2f2f;
    color: white;
    border-radius: 8px;
    text-indent: 1%;
    text-transform: uppercase;
}

.stats{
    font-weight: 500;
    padding: 0;
    margin: 1%;
}

.games-list p{
    margin-left: 1%;
    font-size: 120%;
}

.games-scroll {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-auto-rows: min-content;
    overflow: scroll;
    height: 45vh;
    font-size: 95%;
}



.games-scroll h1{
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    margin-top: 1%;
    margin-left: 2%;
}

.games-scroll p{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 2%;
}





