.room-panel{
    text-decoration: none;
    color: white;
}


.room-panel-view{
    margin-top: 12%;
    /* width: 100%; */
    min-width: 97%;
    width: auto;
    margin-left: 5%;
}

.header{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2f2f;
    border-radius: 15px;
    color: white;
}

.header h1{
    padding: 5%;
    font-size: 50px;
    text-transform: uppercase;
    text-indent: -20%;
}

.arrow{
    width: 20%;
    margin-left: 5%;
}

.panel{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 25px;
}

.room-information{
    width: 87%;
    margin-top: 2%;
    padding: 4%;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
}

.information-text{
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 1%;
    padding: 0%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 120%;
}

.photo-panel{
    border-radius: 20px;
    width: 130%;
    display: flex;
}

.details{
    display: flex;
    font-weight: 500;
}


.panel textarea{
    width: 93%;
    resize: none;
    border-radius: 15px;
    border: none;
    padding-bottom: 5%;
    font-size: 110%;
    font-family: 'Anek Latin', sans-serif;
}

.hints{
    margin-left: 4%;
    display: block;
}

.add-hint-button{
    margin-bottom: 5%;
}

.buttons{
    margin-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    justify-content: center;
}

.buttons button{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    background-color: #2f2f2f;
    color: white;
    font-family: 'Anel Latin', sans-serif;
    font-size: 120%;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
}

.buttons button:hover{
    background-color: white;
    color: #2f2f2f;
}

.buttons button:active{
    background-color: #1f1f1f;
    color: white;
}