html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Anek Latin', sans-serif;
}

body {
  display: flex;
  background-color: #e8e8e8;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20vw;
  margin-right: 2vw;
}

.active-games {
  margin-top: 17vh;
  width: 77vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2f;
  border-radius: 15px;
  margin-bottom: 4vh;
}

.active-games p{
  color: white;
  font-size: 3.7vh;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
}


.rooms-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3vw;
  row-gap: 5vh; 
  place-items: center;
  /* margin-left: 4vw; */
}

.room{
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 27vh;
  width: 37vw;
  place-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 40%;
}


.active-room{
  background-color: #acd3a6d2;
}

.inactive-room{
  background-color: #c2c4c6;
}

.notification-room{
  background-color: #e85324cc;
}

.photo{
  border-radius: 18px;
  width: 19vw;
  height: 22vh;
  display: flex;
  align-items: center;
  justify-self: center;
}

.room-number{
  font-size: 200%;
  font-weight: 800;
  display: inline;
  text-transform: uppercase;
  justify-content: left;
  align-self: first baseline;
  margin: 0;
  margin-top: 2%;
  padding: 0;
}

.room-text{
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 12%;
}

.room-text p{
  margin: 0;
  margin-top: 5%;
  padding: 0;
  margin-left: 3%;
}

.room-panel-button{
  background-color: #437a56;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding: 0 0 5% 0;
  font-size: 2.5vh;
}

.room-panel-button-inactive{
  background-color: #8f8f8f;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding: 0 0 5% 0;
  font-size: 2.5vh;
}

.room-panel-button-notification{
  background-color: #ba0000;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding: 0 0 5% 0;
  font-size: 2.5vh;
}

.room a{
  margin-top: 8%;
  margin-left: 10%;
}


