
.top-bar {
    height: 100px;
    width: 100%;
    background-color: #1B4F3F;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.logo {
    position: absolute;
    left: 50px;
    height: 50px;
    width: 50px;
    top: 25%;
}

.page-title {
    position: relative;
    left: 25%;
    font-size: 40px;
}