@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');

.top-bar {
    height: 12vh;
    width: 100vw;
    background-color: #1B4F3F;
    align-items: center;
    display: grid;
    grid-template-columns: 24% 80%;
    color: white;
    overflow: hidden;
    position: fixed;
}
.team-name{
    display: flex;
    /* justify-content: space-between; */
}

.logo {
    position: absolute;
    height: 2vh;
    width: 2vw;
    top: 25%;
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
}

.team-name h1{
    height: 4vw;
    margin-left: 5vw;
}

.page-title {
    position: relative;
    text-indent: -5%;
    font-size: 60px;
    font-family: 'Anek Latin', sans-serif;
    display: block;
    align-content: center;
    margin-top: 1%;
}