
.top-bar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1B4F3F;
    align-items: center;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.logo {
    margin-right: 200px;
    height: 50px;
    width: 50px;
}
