{% load static %}

<!DOCTYPE html>
<html lang="en">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>

    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Escape IT</title>
        {% endif %}
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/> -->
        <link rel="stylesheet" href="../../static/css/style.css"/>
    </head>

    <body>
        {% include './navbar.html' %}
        
        {% include './top-bar.html' %}
        
        <div class="main-content">
            
            <div class="active-games">
                <p>number of active games : 4</p>
                <p>games that require your attention : 0</p>
           </div>
    
            <div class="rooms-layout">
                {% for room in rooms_data %}
                    <div class="room">
                        <img src="../../static/img/placeholder.jpg" class="photo">
                        <div class="room-text">
                            <p class="room-number">{{ room.room_number }}</p>
                            <p>starting time : dupa</p>
                            <p>progress : 40%</p>
                            <div class="room-panel-button">
                                <p>room panel</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>

       

    </body>



</html>