{% extends 'game_master/base.html' %}

{% load static %}

{% block content %}
    <div class="active-games">
        <p>number of Active Games: {{ active_games_count }}</p>
        <p>games that require your attention : 0</p>
    </div>

    <div class="rooms-layout">
        {% for room in rooms %}
        {% comment %} warunek ifa do zmiany - trzeba to połączyć z aktywnymi grami {% endcomment %}
        <div class="room {% if room.current_game %}active-room{% else  %}inactive-room{% endif %}">
            {% if room.room.image %}
                <img src="{{ room.room.image.url }}" class="photo" alt="room image">
            {% else %}
                <img src="{% static 'img/placeholder.png' %}" class="photo" alt="room image">
            {% endif %}
            <div class="room-text">
                <p class="room-number">{{room.room.room_name}}</p>
                    {% if room.current_game %}
                        <p>starting time : {{room.current_game.0.start_date_time.time}}</p>
                        {% else %}
                        <p>starting time : --</p>
                    {% endif %}

                    {% if room.current_game %}
                        <p>progress: {{room.current_game.0.progress}}%</p>
                        {% else %}
                        <p>progress : 0%</p>
                    {% endif %}

                <a class="{% if room.current_game %}room-panel-button{% else  %}room-panel-button-inactive{% endif %}" href="/rooms/{{ room.room.id }}">
                    <p>room panel</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        console.log('Halo!')

        let url = `ws://${window.location.host}/ws/socket-server/web`


        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
        }

        let form = document.getElementById('form');
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let hint = e.target.hint.value;

            chatSocket.send(JSON.stringify({
                'type': 'help_response',
                'hint': hint
            }))
            form.reset()
        })
    </script>

{% endblock content %}

