{% extends 'game_master/base.html' %}

{% load static%}

 {% block content %}
 <head>
        <link rel="stylesheet" href="../../static/css/notifications-style.css"/>
        <script src="../../static/scripts/notifications_script.js"></script>
</head>

<body>
        <div class="notifications-view">

                {% comment %} <div class="header">
                        <h1>notifications</h1>
                </div> {% endcomment %}

                <div class="header">
                        <h1>notifications</h1>
                        <img src="{% static 'img/bell.svg' %}" alt="Return" class="bell"/>
                </div>

                <div class="notifications">
                        <h1>newest notifications</h1>
                        <div id="notifications-container" class="notifications-layout">
                                {% for notification in notifications %}
                                        <div class="notification">
                                                <p>{{ notification.message }}. Click here, to send help!</p>
                                                <p>{{ notification.date_time }}</p>
                                        </div>
                                {% endfor %}
                        </div>
                
                </div>
        </div>
</body>

{% endblock content %}



</html>