{% extends 'game_master/base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="../../static/css/room-panel-style.css"/>
</head>

<body>
    <div class="room-panel-view">

        <div class="header">
            <a href="/">
                <img src="{% static 'img/arrow.svg' %}" alt="Return" class="arrow"/>
            </a>
            
            <h1>{{ room.room_name }} management panel</h1>
        </div>

        <div class="panel">
            <div class="room-information">
                <div class="information-text">
                    <p>Room description</p>
                    <p class="details">{{ room.room_description }}</p>
                    {% comment %} Fill with game data {% endcomment %}
                    <p>Starting time </p>
                    <p class="details">
                        {% if current_game.0 %}
                            {{ current_game.0.start_date_time }}
                        {% else %}
                            --
                        {% endif %}
                    </p>
                    <p>Group progress </p>
                    <p class="details">
                        {% if current_game.0 %}
                            {{ current_game.0.progress }} %
                        {% else %}
                            --
                        {% endif %}
                    </p>
                </div>
    
                <div>
                    <img src="../../static/img/placeholder.jpg" class="photo-panel">
                    {% comment %} tu tez {% endcomment %}
                    
                </div>
                
            </div>

            {% comment %} trzeba dodać funkcjonalność {% endcomment %}
            <div class="hints">
                <div>
                    <h1>HINT DELIVERY</h1>
                    <p>Please enter the hint content in the textbox below. Once you're done, simply click the "ADD HINT" button, and it will be promptly delivered to the group who needs it.</p>
                </div>

                <div class="hints-layout">
                   <form id="tts-form">
                    <input type="text" id="tts-text" name="text" placeholder="Enter Text">
                    <button class="add-hint-button" type="submit">Generate TTS</button>
                    </form>
                </div>


{#                <div class="hints-layout">#}
{#                    <textarea placeholder="Write a hint"></textarea>#}
{#                    <button class="add-hint-button">Add hint</button>#}
{#                </div>#}
            </div>

            <div class="game-control">
                <h1>game control</h1>
                <div class="buttons">
                    <button class="start-game-button">Start game</button>
                    <button class="end-game-button">End game</button>
                </div>
            </div>
            

        </div>

       


        {% comment %} <div class="games-list">
            {% for game in games %}
                <div>
                    <h1>{{ game.id }}</h1>
                    <p>Start Time: {{ game.start_date_time }}</p>
                    <p>End Time: {{ game.end_date_time }}</p>
                    <p>Game Progress: {{ game.progress }}</p>
                </div>

            {% endfor %}

        </div> {% endcomment %}
        
    </div>
    
</body>
   
{% endblock content %}