{% extends 'game_master/base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="../../static/css/room-panel-style.css"/>
</head>

<body>
    <div class="room-panel-view">

        <div class="header">
            <a href="/">
                <img src="{% static 'img/arrow.svg' %}" alt="Return" class="arrow"/>
            </a>
            
            <h1>{{ room.room_name }} management panel</h1>
        </div>

        <div class="room-information">

            <div class="information-text">
                <p>Room description</p>
                <p class="details">{{ room.room_description }}</p>
                {% comment %} Fill with game data {% endcomment %}
                <p>Starting time </p>
                <p class="details"> 12:00</p>
                <p>Group progress </p>
                <p class="details">40%</p>
            </div>

            <img src="../../static/img/placeholder.jpg" class="photo-panel">
            
        </div>
        
    </div>
    
</body>
   
{% endblock content %}