{% extends 'game_master/base.html' %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <head>
        <link rel="stylesheet" href=" {% static 'css/room-panel-style.css' %}"/>
        <script src="{% static 'scripts/hint_event.js' %}"></script>
    </head>

    {% if games.count > 0 %}
    <div class="room-panel-view">

        <div class="header">
            <a href="/">
                <img src="{% static 'img/arrow.svg' %}" alt="Return" class="arrow"/>
            </a>
            
            <h1>{{ room.room_name }} management panel</h1>
        </div>

        <div class="panel">
            <div class="room-information">
                <div class="information-text">
                    <p>Room description</p>
                    <p class="details">{{ room.room_description }}</p>
                    <p>Starting time </p>
                    <p class="details">
                        {% if current_game %}
                            {{ current_game.0.start_date_time }}
                        {% else %}
                            --
                        {% endif %}
                    </p>
                    <p>Group progress </p>
                    <p class="details">
                        {% if current_game %}
                            {{ current_game.0.progress }} %
                        {% else %}
                            --
                        {% endif %}
                    </p>
                </div>
    
                <div>
                    {% if room.image %}
                        <img src="{{ room.image.url }}" class="photo-panel" alt="room image">
                    {% else %}
                        <img src="{% static 'img/placeholder.png' %}" class="photo" alt="room image">
                    {% endif %}
                </div>
                
            </div>

            {% comment %} trzeba dodać funkcjonalność {% endcomment %}
            <div class="{% if current_game %} hints {% else %} hints-inactive {% endif %}">
                <div>
                    <h1>HINT DELIVERY</h1>
                    <p>Please enter the hint content in the textbox below. Once you're done, simply click the "ADD HINT" button, and it will be promptly delivered to the group who needs it.</p>
            </div>

            <form id="tts-form">
                <div class="hints-layout">
                    <input type="text" id="tts-text" name="text" placeholder="Write a hint">
                    <button class="add-hint-button" type="submit">Add hint</button>
                </div>
            </form>



{#                <div class="hints-layout">#}
{#                    <textarea placeholder="Write a hint"></textarea>#}
{#                    <button class="add-hint-button">Add hint</button>#}
{#                </div>#}
            </div>

            <div class="game-control">
                <h1>game control</h1>
                <p class="game-control-manual">Here you can start games. After filling out the form below, click the "ADD GAME"
                    button to start a new game or add it to the list of upcoming games. The game will end automatically after the
                    specified time.
                </p>
                {% if not games or games.0.active == 0 %}
                    <form class="add-game-form" method="POST" action="">
                        {{ form.as_p }}
                        <button type="submit" class="add-game-button">Add game</button>
                    </form>
                {% endif %}
                <div class="buttons">
                    {% comment %} <button class="start-game-button">Start game</button> {% endcomment %}
                    {% comment %} <button class="end-game-button {% if not games.0.active == 0 %} end-game-button-inactive {% endif %}">End game</button> {% endcomment %}
                </div>
            </div>
            
            <div class="games-list">
                <h1 class="games-list-header">upcoming games</h1>
                <p class="stats">The closest upcoming game is on {{ upcoming_games.0.start_date_time }}</p>
                <p class="stats">Number of upcoming games: {{ upcoming_games.count }}</p> 
                {% comment %} <div class="games-layout"> {% endcomment %}
                    <div class="games-scroll">
                        {% for game in games %}
                        {% if game.start_date_time > current_time %}
                        <h1>Game {{ game.id }}</h1>
                        <p>Start Time: {{ game.start_date_time }}</p>
                        <p>End Time: {{ game.end_date_time }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% comment %} </div> {% endcomment %}
            </div>   
            
            <div class="games-list">
                <h1 class="games-list-header">games history</h1>
                <p class="stats">Last game was played on {{ games.0.start_date_time }}</p>
                <p class="stats">Total games played: {{ played_games.count }}</p>
                {% comment %} <div class="games-layout"> {% endcomment %}
                    <div class="games-scroll">
                        {% for game in games %}
                        {% if game.start_date_time < current_time %}
                        <h1>Game {{ game.id }}</h1>
                        <p>Start Time: {{ game.start_date_time }}</p>
                        <p>End Time: {{ game.end_date_time }}</p>
                        <p>Game Progress: {{ game.progress }}%</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% comment %} </div> {% endcomment %}
            </div> 

        </div>


        
    {% endif %}


        
    </div>

   
{% endblock content %}